STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
GELATO_API_KEY=
GELATO_WEBHOOK_SECRET=
PRINTFUL_API_KEY=
PRINTFUL_STORE_ID=
PRINTFUL_WEBHOOK_SECRET=
LULU_CLIENT_KEY=
LULU_CLIENT_SECRET=
PING_API_KEY=
PING_WEBHOOK_SECRET=
API_DATABASE_URL=
API_DATABASE_AUTH_TOKEN=
TEST_DATABASE_URL=postgres://postgres:postgres@localhost:5433/api_test
